BR2_aarch64=y

# GNU C Toolchain
BR2_KERNEL_HEADERS_5_10=y
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y

# Vendor
BR2_TOOLCHAIN_BUILDROOT_VENDOR="swift"
BR2_TARGET_GENERIC_HOSTNAME="swift-linux"
BR2_TARGET_GENERIC_ISSUE="Welcome to Swift Linux"

# Swift Runtime Libraries
#BR2_PACKAGE_LIBDISPATCH=y
#BR2_PACKAGE_SWIFT=y
#BR2_PACKAGE_LIBSWIFTDISPATCH=y
#BR2_PACKAGE_FOUNDATION=y

# Swift Dependencies
BR2_PACKAGE_ICU=y
BR2_PACKAGE_LIBBSD=y
BR2_PACKAGE_LIBMD=y
BR2_PACKAGE_LIBXML2=y
BR2_PACKAGE_LIBCURL=y
BR2_PACKAGE_OPENSSL=y

# Wayland
BR2_PACKAGE_WAYLAND=y
BR2_PACKAGE_WAYLAND_PROTOCOLS=y
BR2_PACKAGE_WLROOTS=y
BR2_PACKAGE_LIBINPUT=y

# X11
BR2_PACKAGE_XORG7=y
BR2_PACKAGE_LIBXCB=y
BR2_PACKAGE_XLIB_LIBX11=y
BR2_PACKAGE_XLIB_LIBXCURSOR=y
BR2_PACKAGE_XLIB_LIBXEXT=y
BR2_PACKAGE_XLIB_LIBXI=y
BR2_PACKAGE_XLIB_LIBXMU=y

# OpenGL
BR2_PACKAGE_LIBDRM=y
BR2_PACKAGE_MESA3D=y
BR2_PACKAGE_MESA3D_GBM=y
BR2_PACKAGE_MESA3D_OPENGL=y
BR2_PACKAGE_MESA3D_OPENGL_ES=y
BR2_PACKAGE_MESA3D_OPENGL_EGL=y
BR2_PACKAGE_MESA3D_OPENGL_GLX=y
BR2_PACKAGE_MESA3D_GALLIUM_DRIVER_VIRGL=y
BR2_PACKAGE_LIBGLU=y
BR2_PACKAGE_LIBGLEW=y
BR2_PACKAGE_LIBGLFW=y
BR2_PACKAGE_LIBFREEGLUT=y

# Vulkan
BR2_PACKAGE_VULKAN_HEADERS=y

# SDL
BR2_PACKAGE_SDL2=y
BR2_PACKAGE_SDL2_KMSDRM=y
BR2_PACKAGE_SDL2_OPENGL=y
BR2_PACKAGE_SDL2_OPENGLES=y
BR2_PACKAGE_SDL2_GFX=y
BR2_PACKAGE_SDL2_IMAGE=y
BR2_PACKAGE_SDL2_MIXER=y
BR2_PACKAGE_SDL2_NET=y
BR2_PACKAGE_SDL2_TTF=y

# Cairo
BR2_PACKAGE_CAIRO=y
BR2_PACKAGE_CAIRO_PS=y
BR2_PACKAGE_CAIRO_SCRIPT=y
BR2_PACKAGE_CAIRO_SVG=y
BR2_PACKAGE_CAIRO_PNG=y
BR2_PACKAGE_PIXMAN=y
BR2_PACKAGE_FONTCONFIG=y
BR2_PACKAGE_HARFBUZZ=y
BR2_PACKAGE_LCMS2=y

# Image
BR2_PACKAGE_LIBPNG=y
BR2_PACKAGE_JPEG=y

# Media
BR2_PACKAGE_ALSA_LIB=y
BR2_PACKAGE_OPENAL=y
BR2_PACKAGE_LIBVORBIS=y
BR2_PACKAGE_LIBOGG=y
BR2_PACKAGE_LIBTHEORA=y
BR2_PACKAGE_LIBMPEG2=y
BR2_PACKAGE_LIBOPENH264=y
BR2_PACKAGE_LIBDE265=y
BR2_PACKAGE_LIBHEIF=y
BR2_PACKAGE_LIBMATROSKA=y

# Misc
BR2_PACKAGE_LIBEDIT=y
BR2_PACKAGE_SQLITE=y
BR2_PACKAGE_DBUS=y
BR2_PACKAGE_NCURSES=y
BR2_PACKAGE_LIBEPOXY=y
BR2_PACKAGE_LIBFRIBIDI=y
BR2_PACKAGE_PCRE=y
BR2_PACKAGE_PCRE_UCP=y
